---
platform: linux

image_resource:
  type: registry-image
  source: {repository: boshcpi/cpi-certification}

inputs:
  - name: bosh-deployment
  - name: bosh-stemcells-ci
  - name: bosh-linux-stemcell-builder
  - name: bosh-cli
  - name: environment

outputs:
  - name: director-state

params:
  VCENTER_IP:
  VCENTER_USER:
  VCENTER_PASSWORD:
  VCENTER_CLUSTER:
  VCENTER_DC:
  VCENTER_DS:
  VCENTER_RP:

run:
  path: bosh-stemcells-ci/tasks/deploy-director-ipv6.sh
