---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: bosh/os-image-stemcell-builder
    tag: "((image_os_tag))"

inputs:
  - name: bosh-linux-stemcell-builder
  - name: bosh-stemcells-ci

outputs:
- name: os-image

run:
  path: bosh-stemcells-ci/tasks/os-images/build.sh

params:
  OPERATING_SYSTEM_NAME:      replace-me
  OPERATING_SYSTEM_VERSION:   replace-me
  ESM_TOKEN:
