---
platform: linux
image_resource:
  type: registry-image
  source: {repository: boshcpi/light-stemcell-builder}
inputs:
- name: builder-src
- name: bosh-stemcells-ci
run:
  path: bosh-stemcells-ci/tasks/light-aws/test-drivers.sh
params:
  access_key:                 ""
  secret_key:                 ""
  bucket_name:                ""
  region:                     ""
  copy_region:                ""
  ami_fixture_id:             ""
  kms_key_id:                 ""
  existing_volume_id:         ""
  existing_snapshot_id:       ""
  uploaded_machine_image_url: ""
